* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
  background-color: #f8f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.heading {
  text-align: center;
  font-weight: 550;
  font-size: 28px;
  font-style: italic;
  margin-bottom: 20px;
}

.container-fluid {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 100%;
  text-align: center;
}

.input-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.form-control {
  flex: 1;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.add-user-btn {
  margin-left: 10px; 
}

.btn {
  padding: 8px 12px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  margin-left: 12px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th, .table td {
  padding: 12px;
  border: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.table th {
  background-color: #f0f0f0;
  font-weight: 500;
  font-size: 18px;
}

.error-message {
  color: red;
  font-size: 12px;
  text-align: start;
  margin-inline-start: 1px;
}

@media (max-width: 768px) {
  .container {
      max-width: 100%;
  }

  .input-group {
      flex-direction: column;
  }

  .form-control {
      margin-bottom: 10px;
  }
}
